.video-card{
    width: 30rem;
    cursor: pointer;
    height: fit-content;
}

.card-img{
    object-fit: cover;
    width: 30rem;
    border-radius: var(--scale-xxs);
    margin-bottom: var(--scale-xs);
}
.card-footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer-actions{
    display: flex;
    align-items: center;
    gap: 0.5rem
}
.footer-actions i{
    font-size: 2rem;
    padding: 0.5rem;
}
.footer-actions i:hover{
    background-color: #e9ecef;
    border-radius: 50%;
}
.text-small{
    font-size: 1.2rem;
}
