.form-container{
    width: 30rem;
    height: max-content;
}
.auth-page{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 12vh;
    height: 100vh;
}
.text-medium{
    font-size: 1.2rem;
}
.error-msg{
    color: var(--danger-color);
}