.form-container{
    width: 30rem;
    height: max-content;
    background-color: var(--background-color-v2);
    color: var(--text-color);
}
.input-container input{
    background-color: var(--background-color);
    color: var(--text-color);
}
.auth-page{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 12vh;
    height: 120vh;
}
.text-medium{
    font-size: 1.2rem;
}
.error-msg{
    color: var(--danger-color);
}