.single-video-page {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  left: 9vw;
  padding: 0 var(--scale-xxl) var(--scale-xxl) var(--scale-xxl) ;
  color: var(--text-color);
}
.recommendation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--scale-xl)
}
.react-player-container {
  margin-bottom: var(--scale-sm);
  aspect-ratio: 16/9;
  width: 92%;
}
.video-footer {
  display: flex;
  gap: 1.5rem;
  border-bottom: 1px solid var(--light-secondary-color);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.video-footer h4 {
  cursor: pointer;
}
.video-footer h4 i {
  font-size: inherit;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 1435px){
  .single-video-page{
    left: 0;
  }
  .react-player-container {
    width: 100%;
  }
  
}
@media only screen and (max-width: 975px){
  .single-video-page{
    padding: var(--scale-sm);
  }
  .recommendation-list{
    justify-content: center;
  }
}