.playlistCard {
  width: 30rem;
  cursor: pointer;
  height: fit-content;
  background-color: var(--background-color-v2);
  color: var(--text-color);
  border-radius: var(--scale-xs);
  box-shadow: var(--shadow);
}

.playlistCard-img {
  object-fit: cover;
  width: 30rem;
}
.playlistCard-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--scale-sm);
}
.playlistCard-footer i {
  font-size: var(--default-font-size);
}
