.playlistCard {
  width: 30rem;
  cursor: pointer;
  height: fit-content;
  background-color: var(--light-primary-color);
  border-radius: var(--scale-xs);
}

.playlistCard-img {
  object-fit: cover;
  width: 30rem;
}
.playlistCard-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--scale-sm);
}
.playlistCard-footer h4{
  color: var(--danger-color);
  cursor: pointer;
}
.playlistCard-footer h4 i {
  font-size: 1.6rem;
}
