.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--background-color);
  height: 7vh;
  z-index: var(--z-index-xl);
  display: flex;
  justify-content: space-between;
  box-shadow: none;
}
.hamburger {
  display: none;
  color: var(--text-color);
  margin-left: var(--scale-sm);
}
.hamburger i {
  font-size: 2.5rem;
}
.mobile-navigation {
  height: 100vh;
  width: 20%;
  position: absolute;
  z-index: var(--z-index-xxl);
  top: 10vh;
  left: 0;
  background-color: var(--background-color-v2);
  overflow-y: auto;
  transition: 0.5s;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
.mob-navigation-link {
  padding-top: var(--scale-xl);
  padding-left: var(--scale-xl);
  text-decoration: none;
  font-size: var(--default-font-size);
  display: block;
  transition: var(--scale-xxs) s;
  color: var(--off-white);
  letter-spacing: 1px;
}
.mob-navigation-link i {
  font-size: var(--scale-lg);
  margin-right: var(--scale-sm);
}
.header-main {
  display: flex;
  justify-content: space-between;
}
.theme {
  font-size: 2rem;
}
.text-white {
  color: var(--text-color);
}
.nav-title {
  color: var(--text-color);
}
.toggle-light {
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
  transform: rotate(50deg);
}

.toggle-dark {
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
  transform: rotate(0deg);
}
/* media queries for medium and small screens */
@media only screen and (max-width: 1435px) {
  .hamburger {
    display: block;
  }
}
@media only screen and (max-width: 1080px) {
  .mobile-navigation {
    width: 70%;
  }
}
@media only screen and (max-width: 450px) {
  .hamburger {
    margin-left: 0;
  }
  .nav-title h2 {
    font-size: 2rem;
  }
}
