.sidebar-container {
  margin-top: 2rem;
  position: fixed;
  top:10vh;
  left: var(--scale-xs);
  background-color: var(--background-color);
}
.sidebar-list-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 88vh;
  text-align: center;
  font-size: 1.6rem;
  gap: 2rem;
}
.sidebar-link i{
    font-size: inherit;
}
.sidebar-link{
  color: var(--text-color);
  font-weight: 500;
  font-size: inherit;
  display: flex;
  flex-direction: column;
}
.active{
  border: none;
  color: var(--primary-color);
}
@media only screen and (max-width: 1435px) {
  .sidebar-container {
    display: none;
    left: 0;
  }
}
