.sidebar-container {
  position: fixed;
  left: 0;
  top: 14vh;
  width: 11vw;
}
.sidebar-list-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 88vh;
  text-align: center;
  font-size: 1.6rem;
  gap: 2rem;
}
i{
    font-size: inherit;
}
.sidebar-link{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: inherit;
    display: flex;
    flex-direction: column
}