
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat:wght@900&family=Poppins:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}
:root {
  --primary-color: #e01e37;
  --dark-primary-color: #b21e35;
}
html{
  background-color: var(--background-color);
}
.dark-theme{
  --background-color: #2F2F2F;
  --background-color-v2 :#242526;
  --text-color: #fff;
}

.light-theme{
  --background-color: #fff;
  --background-color-v2 :#f6f9fc;
  --text-color: #2F2F2F;
} 
.card-img {
    object-fit: cover;
    width: 30rem;
    border-radius: var(--scale-xxs);
}
.video-card {
    width: 30rem;
    cursor: pointer;
    height: fit-content;
}
.page-container {
  width: 100%;
  overflow: hidden;
}
.core-page {
  display: flex;
}
.btn{
  font-family: 'Poppins', sans-serif;
}
button{
  background: none;
}